
@media screen and (max-width: 900px)  {
    .evenement{
        display: none;
    }
}

.evenement  .menu{
    display : flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}
.evenement  .menu-item{
    flex : 0 1 200px;
}
.evenement  .menu-item a{
    text-decoration: none;
}
.menu-item-icone {
    margin-top: 20px;
    width : 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.evenement__stage {
    background-color: #D2D4C8;

}
.evenement__stage .menu-item-icone {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=chip');
    }

.evenement__projet {
    background-color: #8B2635;
   
    .menu-item-icone {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=chip');
    }
}
.evenement__porte {
    background-color: #D2D4C8;
    .menu-item-icone {
        background-image: url('https://s2.svgbox.net/hero-solid.svg?ic=chip');
    }
}