.menu__primaire {
    background-color: #2E3532;
	display: flex;
    justify-content: flex-end;
}

.menu__primaire .menu {
	display :flex;
    justify-content:space-around;
    margin-left : 12%;
    flex:1;
    list-style-type: none;
}

.menu__primaire .menu-item {
    position: right;
}   

.menu__primaire .menu-item a {
    color: whitesmoke;
    text-decoration: none;
}

.header-widgets{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header-widgets > * {
    color: white;
    margin-right: 50px;
}
